.homeFollowing {
    display: flex;
    /* margin: 10px; */
    width: 100%;
    border-bottom: 1px solid #dddddd;
    border-color: gray;
}

.followSidebar {
    display: flex;
    margin: 10px;
}

.homeFollowingImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.followWrapper {
    width: 100%;
    padding: 10px 10px 0 0;
}

.followTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.followTopLeft {
    display: flex;
    align-items: center;
}

.homeFollowingName {
    font-size: 20px;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
    font-weight: 550;
    color: gray;
    margin: 0 10px;
}

.followTopRight {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.homeFollowingStatus {
    white-space: pre-wrap;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
    margin: 0 10px;
    width: 100%;
}