.topbarContainer {
    /* background-color: #2c517c; */
    /* background-color: #9944cc; */
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.topbarContainer .nav-link {
    color: white;
    transition: color 0.3s;
}

.topbarContainer .nav-link.active {
    color: #007BFF !important;
}

.topbarLeft {
    flex: 3;
}

.logo {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /* background-color: transparent; */
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* color: white; */
}

.topbarIconItems {
    display: flex;
}

/* .topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    margin-top: 5px;
}

.topbarIconBadge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
} */

.topbarimg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.topbarIcon {
    font-size: 35px !important;
    margin-right: 10px;
    /* background-color: transparent;     */
    /* color: #fff; */
    padding: 0 0 0 10px;
 }