.profile {
    display: flex;
}

.profileRight {
    flex: 10.5;
}

.profileRightTop {
    border-bottom: 1px solid #dddddd;
}

.profileCover {
    height: 200px;
    position: relative;
}

.profileCoverImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.profileUserImg {
    position: absolute;
    left: 0;
    right: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* margin: auto; */
    top: 100px;
    border: 3px solid white;
    margin: 0 0 0 10px;
}

.shareButtons {
    display: flex;
    justify-content: flex-end;
}

.shareIconButtons {
    /* display: flex; */
    /* justify-content: center; */
}

.profileInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 10px 0;
}

.profileInfoTop {
    display: flex;
    justify-content: space-between;
} 

.profileInfoName {
    font-size: 24px;
}

.followButton {
    /* border: none; */
    /* border-radius: 20px; */
}

.profileInfoDesc {
    white-space: pre-wrap;
}

.profileRightBottom {
    display: flex;
}

.profileEdit {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.editButton {
    height: 25px;
    margin-right: 15px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 0 10px;
    background-color: gray;
    color: white;
}

.shareInput {
    height: 15px;
}

.followButton {
    font-weight: bold;
    border: none;
    padding: 6px 17px;
    background-color: black;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.followingButton {
    font-weight: bold;
    border-width: thin;
    border: none;
    padding: 6px 17px;
    /* background-color: black; */
    border-radius: 15px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.editCancelImg {
    /* position: absolute; */
    margin: 0 10px 0 0;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
}

/* .coverImg {
    position: relative;
}

.shareOptions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* .coverImg img {
    width: 100%;
}

.coverShareIcon {
    position: absolute;
    top: 0;
} */