.post {
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    /* border-color: gray; */
}

.postSidebar {
    display: flex;
    margin: 10px;
}

.postProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.postWrapper {
    width: 100%;
    padding: 0 10px 0 0;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postUsername {
    font-size: 14px;
    font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", sans-serif;

    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    /* font-weight: 550; */
    font-weight: bold;
    margin: 0 10px;
}

.postDate {
    font-size: 13px;
    color: gray;
}

.postTopRight {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: gray;
}

.postText {
    font-size: 13px;
    font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", sans-serif;

    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    white-space: pre-wrap;
    margin: 0 10px;
    width: 100%;
}

.postCenter {
    margin: 0 10px 0 0;
}

.postImg {
    margin-top: 10px;
    width: 100%;
    max-height: 700px;
    object-fit: contain;
    border-radius: 20px;
    /* border: 1px solid gray; */
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.postCommentIcon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.postCommentCounter {
    color: gray;
}

.likeIcon {
    width: 17px;
    height: 17px;
    margin-left: 15px;
    margin-right: 7px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 15px;
}

/* .postCommentText {
    cursor: pointer;
    border-bottom: 1px solid gray;
    font-size: 15px;
    margin-right: 3px;
} */

.deleteButton {
    border: none;
    padding: 3px 3px;
    background-color: red;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}